<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>{% block title %}Spotirec{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
<script src="{{ url_for('static', filename='js/init.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<div id="nav"></div>
<script>$(function(){$('#nav').load('{{ url_for('static', filename='nav.html') }}');});</script>

<section class="masthead bg-size" style="background:url({{ url_for('static', filename='img/bg.png') }}), linear-gradient(to bottom, #000000, #136b32, #000000);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading text-center">
                    <h2 class="txtcl">Enjoy your playlist!</h2>
                </div>
                <iframe src="https://open.spotify.com/embed/playlist/{{ id }}" width="600" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <div class="row h-100" style="margin-top:2em">
                    <div class="col-lg-12 my-auto text-center">
                        <a class="btn btn-custom js-scroll-trigger" href="{{ url_for('spotirec') }}">Create another</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>