<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>{% block title %}Spotirec{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="{{ url_for('main') }}">Spotirec</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler float-right" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="">Documentation</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="https://github.com/Badgie/spotirec">CLI</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="https://github.com/Badgie/badgie.github.io">Source</a></li>
            </ul>
        </div>
    </div>
</nav>

<header id="greeter" class="masthead" style="background:url({{ url_for('static', filename='img/bg.png') }}), linear-gradient(to bottom, #000000, #136b32, #000000);height:100%;">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="mx-auto header-content">
                    <h1 class="mb-5">Spotirec allows you to create recommended playlists on your Spotify account!</h1>
                    <a class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button" href="{{ url_for('auth') }}">Connect with Spotify</a>
                </div>
            </div>
        </div>
    </div>
</header>