<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>{% block title %}Spotirec{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
<script src="{{ url_for('static', filename='js/init.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<div id="nav"></div>
<script>$(function(){$('#nav').load('{{ url_for('static', filename='nav.html') }}');});</script>

<section class="masthead bg-size" style="background:url({{ url_for('static', filename='img/bg.png') }}), linear-gradient(to bottom, #000000, #136b32, #000000);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading text-center">
                    <h2 class="txtcl">How many tracks would you like?</h2>
                </div>
            </div>
        </div>
        <form method="post">
            <div class="row justify-content-center" style="margin-top:1em">
                <div class="col-lg-3 text-center">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1-100</span>
                        </div>
                        <input class="form-control" type="number" name="limit" step="1" min="1" max="100" id="limit" value="20" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:1em">
                <div class="col-lg-12 text-center">
                    <input type="submit" value="Next" class="btn btn-custom">
                </div>
            </div>
        </form>
    </div>
    <script>seedSizeHandlers()</script>
</section>