.txtcl {
    color: white;
}

.btn-container {
    padding: 10px;
    margin-right: 5px
}

.btn-custom {
    font-size: 10pt;
    padding-left: 2em;
    padding-right: 2em;
}

.scrollbox {
    height:300px;
    width:100%;
    border:1px solid #ccc;
    overflow:auto;
    margin: 2em;
}

.inactive {
    pointer-events: none;
    cursor: default;
}

.error-field {
    background: #ffb3b3;
    border-color: red;
}

.error-field:focus {
    background: #ffb3b3;
    border-color: red;
}
